@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@muybuen/cursor/dist/base.css"; */

@font-face {
  font-family: "GoshaSans-Ultrabold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "GoshaSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PPGoshaSans-Regular.woff2") format("woff2");
}

:root {
  --color-primary: 255 0 242;
  --color-primary-hex: #ff00f2;
  --color-secondary: 0 0 0;
  --color-secondary-hex: #000000;
}

::selection {
  background: rgb(var(--color-primary) / 0.2);
}

body {
  color: rgb(var(--color-primary));
  background: rgb(var(--color-secondary));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buen-cursor.buen-cursor-mod {
  --cursor-background-color: rgb(var(--color-primary) / 0.2);
  --cursor-border-color: rgb(var(--color-primary) / 0.6);
  --cursor-pointer-color: rgb(var(--color-primary) / 0.6);
  --cursor-message-color: rgb(var(--color-primary) / 0.9);
  --cursor-message-background-color: rgb(0 0 0 / 0.9);
  --cursor-message-border-color: rgb(var(--color-primary) / 0.6);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .subgrid {
    @apply grid grid-cols-subgrid;
  }
}
